.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}





/*  My Styling below :: */


html, body {
  height: 100%;
}

.main_title {
  font-family: 'Georgia';
  font-size: 28px;
  color: #0068bf;
}
.section_title {
  font-family: 'Arial';
  font-size:40px;
  color: #363636;
}
.copy {
  font-family: 'Arial';
  font-size: 14px;
  color: #363636;
}

.header {
  display:none;
}


.contentHolder {
  position: absolute;
  top: 45%;
  width: 100%;
  height: inherit;
}

.container {
  position: absolute;
  /*height: 100%;*/
  background-color: white;
  width: 80%;
  max-width: 80%;
  margin-left: -40%;
  left: 50%;
  z-index: 2;
  padding: 0;
}

.leftStep {
  position: absolute;
  background-color: white;
  width: 20%;
  height: 60%;
  top: -15%;
  right: 0;
}

[ui-view] {
  height: inherit;
}

/*.heroImg {
  background-image: url('../images/hero.jpg');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: relative;
}*/

.heroImg {
  width: 100%;
  height:auto;
  z-index: 1;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin: 1em 1em;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(255,255,255,0.8);
  padding: 5px;
}
ul li {
  display:inline-block;
}

section {
  margin-right: 2em;
}
section img {

}

section article {
  display: block;
  padding:2em;
}

.langBut {
  min-width: 70px;
}
.btn-clear {
  background-color: transparent;
  color: black;
  border: none;
}

.sectionImg {
  height:auto;
  padding:4em 0em 0em 4em;
  vertical-align: top;
}





@media (max-width: 480px){
  .contentHolder {
    position: 
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 2;
    margin: 0;
    left: 0;
  }
  .leftStep {
    display:none;
  }
  
}

@media screen and (max-width: 767px){
  .contentHolder {
    top: 28%;
  }
  .leftStep {
    top: -15%;
  }
  section article {
    padding: 0em 0em 0em 2em;
  }
  .sectionImg {  
    padding:2em 0em 0em 2em;
  }
  
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .contentHolder {
    top: 28%;
  }
  .leftStep {
    top: -15%;
  }
  section article {
    display: inline-block;
    padding: 0em 0em 0em 4em;
  }
  
  
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
  .contentHolder {
    top: 35%;
  }
  .leftStep {
    top: -20%;
  }
  
  section article {
    display: inline-block;
    padding: 0em 0em 0em 4em;
  }
  
}

@media screen and (min-width: 1200px) {
  .contentHolder {
    top: 45%;
  }
  .leftStep {
    top: -20%;
  }
  section article {
    display: inline-block;
    padding: 0em 0em 0em 4em;
  }
  
}