<section>

  <img class="sectionImg" src="images/section_image.png"/>
  <ul >
    <li ng-repeat="langBut in langGroup track by $index">
      <button class="btn btn-default btn-clear langBut"  ng-click="changeLang({{'langBut.title'}})">
        <span class="flag-icon flag-icon-{{langBut.flag}}"></span>
        {{ langBut.title }}
      </button>
    </li>
  </ul>
  <article>
    <h1 class="main_title">{{ "main_title" | translate }}</h1>
    <h2 class="section_title">{{ "section_title" | translate }}</h2>
    <p class="copy" translate="section_para1"></p>
    <p class="copy" translate="section_para2"></p>
  </article>

</section>